# Configurações locais da aplicação
appsettings.json
appsettings.*.local.json

# Variáveis de ambiente
.env
.env.*
secrets.json

# Segredos
secrets.json

# VS Code local
.vscode/

# Planilha de testes
testes/

#.NET build
**/bin/
**/obj/

#React
node_modules/
dist/